header{
    background: hotpink;
    padding: 1em;
    border: solid lightcoral;
}

aside{

    float: left;
    background: lightsalmon;
    padding: 1em;
    margin-left:0px ;
    margin-right:300px; 
    height: 1394px;
    border: solid blue 2px;
}

section{

    background: rgb(245, 105, 105);
    padding: 10em;
    margin-left:0px;
    height: 1109px;
    border: solid blue 2px;
}

footer{
    background: pink;
    padding: 1em;
    margin-left: 0px;
    width: 1300px;
    height: 300px; 
    border: solid blue 2px;
}